In [ ]:
#Different ways to define a tuple

l=(10,20,30,40)
print(type(l))

s=(10)
print(type(s))

t=(10,)
print(type(t))

u=10,20,30,40,50
print(type(u))

<class 'tuple'>
<class 'int'>
<class 'tuple'>
<class 'tuple'>

In [ ]:
#Functions and methods in tuple
l=(40,20,60,45,34,56,36,86,54,24,67,43,65,4)

#1. sorted()
s=sorted(l) #crteated a new list object
print(l)
print(s)
print(type(s))

(40, 20, 60, 45, 34, 56, 36, 86, 54, 24, 67, 43, 65, 4)
[4, 20, 24, 34, 36, 40, 43, 45, 54, 56, 60, 65, 67, 86]
<class 'list'>

In [ ]:
#2. length of tuple
l=(40,20,60,45,34,56,36,86,54,24,67,43,65,4)
print("The length of the string is",len(l))

#3. count
l=(40,20,60,45,24,34,56,36,86,54,24,67,43,65,4,24)
print("The the total number of times 24 occurs in the tuple is ",l.count(24))

#4. index
l=(40,20,60,45,34,56,36,86,54,24,67,43,65,4)
print("The index of 24 in the list is",l.index(24))

#5. min and max of tuple
l=(40,20,60,45,34,56,36,86,54,24,67,43,65,4)
print("The minimum element in the tuple is",min(l))
print("The maximum element in the tuple is",max(l))

The length of the string is 14
The the total number of times 24 occurs in the tuple is  3
The index of 24 in the list is 9
The minimum element in the tuple is 4
The maximum element in the tuple is 86

In [ ]:
#Tuple Packing and unpacking
a=10
b=20
c=30
p=a,b,c #packing
print(p)

a,b,c=p # unpacking
print(a,b,c)

(10, 20, 30)
10 20 30

In [ ]:
#size of tuple
#Approach 1

import sys
l=(20,"46","76","44")
print(sys.getsizeof(l))

72

In [ ]:
#size of tuple
#Approach 1

l=(20,"46","76","44")
print(l.__sizeof__())

56

In [ ]:
#Python program to create a list of tuples from given list having number and its cube in each tuple
#Approach 1

j=[2,3,4,5,6,7]
k=[(i,i**3) for i in j]
print(k)

[(2, 8), (3, 27), (4, 64), (5, 125), (6, 216), (7, 343)]

In [ ]:
#Python program to create a list of tuples from given list having number and its cube in each tuple
#Approach 2

j=[2,3,4,5,6,7]
k=[(i,pow(i,3)) for i in j]
print(k)

[(2, 8), (3, 27), (4, 64), (5, 125), (6, 216), (7, 343)]

In [ ]:
#Python – Adding Tuple to List (part 1)

j=[2,3,4,5,6,7]
tup=29,56
j=j+tup #showing error bcoz by this line it creates a new object and trying to add two different datatypes
print(j)

TypeError: can only concatenate list (not "tuple") to list

In [ ]:
#Python – Adding Tuple to List (part 2)

j=[2,3,4,5,6,7]
tup=29,56
j+=tup #not showing error bcoz  this line is equal to j.extend()
print(j)

[2, 3, 4, 5, 6, 7, 29, 56]

In [ ]:
#proof of part 2

j=[2,3,4,5,6,7]
tup=29,56
j.extend(tup)
print(j)

[2, 3, 4, 5, 6, 7, 29, 56]

In [ ]:
#Python – Adding Tuple to List (part 3)

j=[2,3,4,5,6,7]
tup=29,56
#j+=tup #not showing error bcoz  this line is equal to j.extend()
print(list(tup)+j)

[29, 56, 2, 3, 4, 5, 6, 7]

In [2]:
#Python – Adding Tuple to List

j=[2,3,4,5,6,7]
tup=29,56
print("Original List:",j)
print("Adding tuple to list:",tuple(list(tup)+j))

Original List: [2, 3, 4, 5, 6, 7]
Adding tuple to list: (29, 56, 2, 3, 4, 5, 6, 7)