In [2]:
print("hello")

hello

In [1]:
a=7
b=5
c=a+b
print("The sum is ",c)

The sum is  12

In [5]:
# List in python
list=[]
print(type(list))

li=["Kumar", 4, "6", True, 'Hello']
print(li)

<class 'list'>
['Kumar', 4, '6', True, 'Hello']

In [ ]:
# name = "Deepak"
# lis= list(name)

In [4]:
a=input("Enter 1st number")
b=input("Enter 2nd number")
c=int(a)+int(b)
print("Sum of",a,"and",b,"is",c)

print("The sum of {} and {} is {}".format(a,b,c))

print("The sum of {first} and {second} is {final} ".format(first=a, final=c, second=b))

Sum of 5 and 6 is 11
The sum of 5 and 6 is 11
The sum of 5 and 6 is 11

In [10]:
# append in the last of list
lis=["Kumar",8,'Hello']
print(lis)
lis.append("Deepak")
print(lis)

['Kumar', 8, 'Hello']
['Kumar', 8, 'Hello', 'Deepak']

In [15]:
# insert values to the list

lis=["Deepak", 8, True, 'Hii Buddy']
print(lis)
lis.insert(2,"Sonu")
print(lis)
lis

['Deepak', 8, True, 'Hii Buddy']
['Deepak', 8, 'Sonu', True, 'Hii Buddy']

['Deepak', 8, 'Sonu', True, 'Hii Buddy']

In [20]:
# extend values to the list
lis=["sekhar",4 ,9,8,6]
lis

['sekhar', 4, 9, 8, 6]

In [21]:
# nested list using append
lis.append(["raju",898])
lis

['sekhar', 4, 9, 8, 6, ['raju', 898]]

In [22]:
# samme thing but using extend

lis.extend(["raju",898])
lis

['sekhar', 4, 9, 8, 6, ['raju', 898], 'raju', 898]

In [23]:
lis

['sekhar', 4, 9, 8, 6, ['raju', 898], 'raju', 898]

In [30]:
lis.pop()

6

In [13]:
lis=["Sekhar",6, True,'Baby']

In [14]:
lis.index(1)

2

In [15]:
dic={"Name":"Kumar"}
type(dic)

dict

In [16]:
print(dic)

{'Name': 'Kumar'}

In [23]:
dic={"Name":"Kumar","Age":9}
dic['Name']

9

In [24]:
dic={"Name":"Kumar","Age":9}
dic['Age']

9

In [2]:
if 4<9:
    print("greater")
else:
    print("Not greater")

greater

In [4]:
i=0
while i<16:
    print(i+1," ")
    i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16

In [4]:
# while with else statement
# a=input("Enter a number")
a=8
i=1
c=0
while i<=a:
    if a%i==0:
        c+=1
    i+=1
if c==2:
    print("prime")
else:
    print("Composite")

Composite

In [20]:
# range function
a=range(1,20,3)
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])
print(a[5])
print(a[6])

1
4
7
10
13
16
19

In [22]:
# for loop
a=range(10)
for i in a:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [23]:
# pass statement
if 8>10:
    pass
else:
    print("This is the use of pass statement")

This is the use of pass statement

In [4]:
# wap to input two numbers as input and return sum
x=input("Enter 1st number")
y=input("Enter 2nd number")

def sum(a,b):
    c=int(a)+int(b)
    print("The sum of",a,"and",b,"is",c)

sum(x,y)

The sum of 4 and 5 is 9

In [4]:
#`1d array using array()`
import array as ar
arr= ar.array('i',[198,238,465,44,34,34,56,68,787,85,55])
print(arr[7])
print(arr[8])
print(arr[4])
print(arr[3])
print(arr[2])

68
787
34
44
465

In [7]:
#Another way to import array module (recommended)
from array import *
arr_1 = array('f',[345,654, 3,787,654,634,53,23,4,324,6,85,5])
print(arr_1[6])
print(arr_1[8])
print(arr_1[3])
print(arr_1[2])
print(arr_1[5])

53.0
4.0
787.0
3.0
634.0

In [8]:
#int can be coverted to float
from array import *
arr_1 = array('f',[345,654, 3,787,654,634,53,23,4,324,6,85,5])
print(arr_1[6])
print(arr_1[8])
print(arr_1[3])
print(arr_1[2])
print(arr_1[5])

53.0
4.0
787.0
3.0
634.0

In [9]:
#but float data can not be converted to int as there will be data loss
arr_1 = array('i',[345,654.98, 3,787,654,634,53,23,4,324,6,85,5])

print(arr_1[1])

TypeError: 'float' object cannot be interpreted as an integer

In [10]:
#accessing array using for loop (without index)
from array import *
std=array('i',[45,65,33,546,78,43,22,657,476,97,43,67])

for ar in std:
    print(ar)

45
65
33
546
78
43
22
657
476
97
43
67

In [4]:
#accessing array using for loop (with index)
from array import *
std = array('i',[54,223,5465,787,453,3245,68,99,75,4323,56,6999])

n=len(std)
for x in range(n):
    print(std[x])

54
223
5465
787
453
3245
68
99
75
4323
56
6999

In [2]:
#accessing array using while loop
from array import *
arr=array('i',[33445,4332,456,78,554,34,678,85,42,2])

n=len(arr)
i=0
while i<n:
    print(arr[i])
    i+=1

33445
4332
456
78
554
34
678
85
42
2

In [6]:
#append() method
from array import *
std=array('i',[34,54,678,654,24,4])

for e in std:
    print(e)

print()
std.append(8888)
for s in std:
    print(s)

34
54
678
654
24
4

34
54
678
654
24
4
8888

In [16]:
#getting user input in an array using for loop
from array import *
arr=array('i',[])
n=int(input("Enter the number of elements to be inserted"))

for i in range(n):
    arr.append(int(input("Enter the element")))
    
    
#for s in range(len(arr)):
  #  print(arr[s])
for s in arr:
    print(s)

5
6
7

In [2]:
#getting user input in an array using while loop

from array import *
arr=array('i',[])
n=int(input("Enter the number of elements to be inserted"))

i=0
s=0
while i<n:
    arr.append(int(input("Enter the element")))
    i+=1

l=len(arr)
while s<l:
    print(arr[s])
    s+=1

3
4
5
6

In [ ]:
#Numpy