Q1. Python program to interchange first and last elements in a list

In [ ]:
#Q1.1 Python program to interchange first and last elements in a list

#Approach 1

l=[10,20,30,40,50,60,70,80]

print("Before Swapping:",l)

l1=l[0]
l[0]=l[-1]
l[-1]=l1

print("After Swapping:",l)

Before Swapping: [10, 20, 30, 40, 50, 60, 70, 80]
After Swapping: [80, 20, 30, 40, 50, 60, 70, 10]

In [ ]:
#1.2
#Approach 2
l=[10,20,30,40,50,60,70,80]

print("Before Swapping:",l)

n=len(l)
t=l[0]
l[0]=l[n-1]
l[n-1]=l[0]

print("After Swapping:",l)

Before Swapping: [10, 20, 30, 40, 50, 60, 70, 80]
After Swapping: [80, 20, 30, 40, 50, 60, 70, 80]

In [ ]:
#1.3
#Approach 3
#using packing and unpacking concept

l=[10,20,30,40,50,60,70,80]

print("Before swapping:",l)

t=l[0],l[-1]
l[-1],l[0]=t

print("Ater Swapping:",l)

Before swapping: [10, 20, 30, 40, 50, 60, 70, 80]
Ater Swapping: [80, 20, 30, 40, 50, 60, 70, 10]

In [ ]:
#1.4
#Approach 4

l=[10,20,30,40,50,60,70,80]

end,*middle,start=l
l=start,*middle,end

print(l)

(80, 20, 30, 40, 50, 60, 70, 10)

In [ ]:
#1.5
#Approach 5

l=[10,20,30,40,50,60,70,80]
print(l)

t=l.pop(0)
s=l.pop(-1)
l.insert(0,s)
l.append(t)

print(l)

[10, 20, 30, 40, 50, 60, 70, 80]
[80, 20, 30, 40, 50, 60, 70, 10]

In [ ]:
#1.6
#Approach 6

l=[10,20,30,40,50,60,70,80]

print("Before Swapping:",l)

l[0],l[-1]=l[-1],l[0]

print("After Swapping:",l)

Before Swapping: [10, 20, 30, 40, 50, 60, 70, 80]
After Swapping: [80, 20, 30, 40, 50, 60, 70, 10]

In [ ]:
#1.7
#Approach 7
l=[10, 20, 30, 40, 50, 60, 70, 80]
l=l[-1:]+l[1:-1]+l[:1]
print(l)

[80, 20, 30, 40, 50, 60, 70, 10]

2. Swap Two Elements in a List

In [ ]:
#2.1 Swap Two Elements in a List

l=[10,203,73,67,4342,6,43,25,8,453,]
p1=eval(input("Enter  1st index number:"))
p2=eval(input("Enter  2nd index number:"))
l[p1],l[p2]=l[p2],l[p1]
print(l)

3. Check if element exists in list

In [ ]:
#3.1
l=[10, 20, 30, 40, 50, 60, 70, 80]
x=eval(input("enter the element to search"))
if x in l:
  print(f"{x} is present")
else:
  print("Sorry! The element is not present in the list. Please try again")

enter the element to search50
50 is present

In [ ]:
#3.2
l=[10, 20, 30, 40, 50, 60, 70, 80]
x=eval(input("enter the element to search:"))
y=len(l)-1
for i in range(y):
  if l[i] == x:
    print(f"{x} is present")

enter the element to search:60
60 is present

In [ ]:
#3.3

l=[10, 20, 30, 40, 50, 60, 70, 80]
x=eval(input("enter the element to search:"))
y=l.count(x)
if y>0:
  print("The element is present")
else:
  print("Not Present")

enter the element to search:80
The element is present

4. Count positive and negative numbers in a list

In [ ]:
#4.1

l=[10, -20, 30, 40, -50, 60, 70, -80]
c=d=0

for i in l:
  if i >= 0:
    c+=1
  else:
    d+=1

print(f"Total number of Positive number present in the list are {c}")
print(f"Total number of Negative number present in the list are {d}")

Total number of Positive number present in the list are 5
Total number of Negative number present in the list are 3

In [ ]:
#4.2
l=[10, -20, 30, 40, -50, 60, 70, -80]
x=[num for num in l if num>=0]
print(f"Total number of Positive number present in the list are:{len(x)}")
print(f"Total number of Negative number present in the list are:{len(l)-len(x)}")

Total number of Positive number present in the list are:5
Total number of Negative number present in the list are:3

In [ ]:
#4.3
l=['10', '-20', '30', '40', '-50', '60', '70', '-80']
c=0
for i in l:
  if i.startswith('-'):
    c+=1
print(f"Total number of Positive number present in the list are:{len(l)-c}")
print(f"Total number of Negative number present in the list are:{c}")

Total number of Positive number present in the list are:5
Total number of Negative number present in the list are:3

In [8]:
#convert string to list
s="Kumar Deepak"
l=s.split()
#l=list(s)
print(l)

['Kumar', 'Deepak']

In [14]:
#Slice Operator
l=list("KumarDeepak")
print(l)
print(l[1:-2:2])

['K', 'u', 'm', 'a', 'r', 'D', 'e', 'e', 'p', 'a', 'k']
['u', 'a', 'D', 'e']

In [56]:
#Functions used in list that shows correct o/p
l=list("steriotype")
s=list("deepak")

print(len(l))

print(l.count('e'))

print(l.index('e'))

l.append('g')
print(l)

l.insert(2,'z')
print(l)

l.extend(s)
print(l)

l.remove('g')
print(l)

print(l.pop(4))
print(l)

10
2
2
['s', 't', 'e', 'r', 'i', 'o', 't', 'y', 'p', 'e', 'g']
['s', 't', 'z', 'e', 'r', 'i', 'o', 't', 'y', 'p', 'e', 'g']
['s', 't', 'z', 'e', 'r', 'i', 'o', 't', 'y', 'p', 'e', 'g', 'd', 'e', 'e', 'p', 'a', 'k']
['s', 't', 'z', 'e', 'r', 'i', 'o', 't', 'y', 'p', 'e', 'd', 'e', 'e', 'p', 'a', 'k']
r
['s', 't', 'z', 'e', 'i', 'o', 't', 'y', 'p', 'e', 'd', 'e', 'e', 'p', 'a', 'k']

In [61]:
#Order Elements in a list

s=list("deepak")
t=list("deepak")

s.sort()
print("The sorted list is",s)

s.reverse()
print("The reversed list is",s)



#the combination of above two lines can be like this
t.sort(reverse=True)
print("The New List is ",t)

The sorted list is ['a', 'd', 'e', 'e', 'k', 'p']
The reversed list is ['p', 'k', 'e', 'e', 'd', 'a']
The New List is  ['p', 'k', 'e', 'e', 'd', 'a']

In [45]:
#Functions used in list that shows in-correct o/p
l=list("steriotype")
s=list("Deepak")

print(len(l))
print(len(s))

print(l.count('q'))

print(l.index('j'))

10
6
0

ValueError: 'j' is not in list

In [46]:
#Functions used in list that shows in-correct o/p
l=list("steriotype")
s=list("Deepak")


l.append('l')
print(l)

l.insert(100,'z')
print(l)

l.extend(k)
print(l)

['s', 't', 'e', 'r', 'i', 'o', 't', 'y', 'p', 'e', 'l']
['s', 't', 'e', 'r', 'i', 'o', 't', 'y', 'p', 'e', 'l', 'z']

NameError: name 'k' is not defined

In [47]:
#Functions used in list that shows in-correct o/p
l=list("steriotype")
s=list("Deepak")


l.remove('j')
print(l)

ValueError: list.remove(x): x not in list

In [64]:
#Aliasing -Creating Duplicate Reference variable
l=[10,20,30,40]
l=s
print("The address of list l is",id(l))
print("The address of list s is",id(s))

l[2]=989
print(s) #change in l will reflect in s in case of aliasing as both the list objects point to same reference.

The address of list l is 132605830319488
The address of list s is 132605830319488
['p', 'k', 989, 'e', 'd', 'a']

In [66]:
#Cloning- Creating duplicate list object
l=[10,20,30,40]
s=l.copy()

print(id(l))
print(id(s))

l[2]=989
print(s) #change in l will not reflect in s in case of cloning as both the list objects point to different reference.

132605829102400
132605829219328
[10, 20, 30, 40]

In [67]:
'''Two ways to clone list
1. USing copy()
2. using slice operator '''

l=[10,20,30,40]
s=l[:]
l[3]=6766
print(s) #change in l will not reflect in s in case of cloning as both the list objects point to different reference.

[10, 20, 30, 40]

In [70]:
#Mathematical operators on list objects
a=[10,20,30,40]
b=[50,60]
c=a+b
print(c)
d=a+[60]
print(d)

[10, 20, 30, 40, 50, 60]
[10, 20, 30, 40, 60]

In [72]:
#Membership Operators
x=[10,20,30,40]
print(10 in x)
print(4 in x)

True
False